.header {
  width: 90%;
  height: 160px;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
}

h1 {
  margin: 0;
  padding: 0;
  width: 20%;
  float: left;
  font-weight: 100;
  font-size: 27px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}

.burger {
  font-size: 25px;
  width: 5%;
  margin-top: 10px;
  float: left;
  cursor: pointer;
}

.mem-search {
  width: 20%;
  display: flex;
  float: right;
  font-family: "Raleway", sans-serif;
}
.mem {
  cursor: pointer;
  color: rgb(204, 138, 17);
  font-size: 15px;
}
.mem:hover {
  color: black;
}
.glass {
  margin-top: 18px;
  margin-left: 20px;
  cursor: pointer;
}

.link-list {
  display: flex;
  width: 100%;
}
.item {
  margin: 2%;
  font-weight: bold;
  color: black;
  transition: color 1s;
}

.item:hover {
  color: orange;
  cursor: pointer;
  transition: color 0.3s;
}
