/* MOBILE VIEW */
@media all and (max-width: 1000px) {
  .title-outer {
    width: 92%;
    margin: auto;
    padding: 2%;
  }
  .title-section {
    display: flex;
    width: 100vw;
    flex-direction: column;
  }

  .left-chunk {
    width: 100%;
    padding-left: 0;
    margin-right: 0;
    overflow: hidden;
  }
  .right-chunk {
    width: 100%;
    margin-top: 0;
    padding-right: 0;
  }

  img {
    max-width: 100%;
    margin: auto;
  }

  .super-imp-title {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 22px;
    margin-bottom: 22px;
    color: rgb(87, 37, 4);
    overflow: hidden;
    float: left;
    text-align: left;
  }
  .line {
    display: grid;
    background: grey;
    border-radius: 6px;
    font-size: 1.7px;
    opacity: 0.5;
    width: 100%;
  }
  .friendStuff {
    margin-top: 10px;
    margin-left: 10px;
  }
  .soc {
    margin-right: 40px;
    font-size: 20px;
    color: black;
    transition: color 1.2s;
  }
  .soc:hover {
    color: orange;
    cursor: pointer;
    transition: color 0.5s;
  }

  .divide {
    width: 100%;
  }
  .spacer-title-bot {
    margin-bottom: 40px;
  }
  .title-section {
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 16px;
  }

  p {
    padding-top: 0px;
    line-height: 20px;
  }

  h1 {
    padding-top: 0px;
    font-size: 40px;
    font-weight: thin;
    font-family: "Raleway", sans-serif;
  }

  .par {
    font-size: 12px;
    font-family: "Quicksand", sans-serif;
    line-height: 20px;
    padding: 0px;
    margin: 20px 0px;
  }
  h5 {
    font-family: "Quicksand", sans-serif;
    margin: none;
  }
  .backgrounder {
    margin: 0px 0px 0px 0px;
  }
  .ital {
    font-style: italic;
    font-family: "Quicksand", sans-serif;
    font-size: 11px;
    line-height: 20px;
    padding: 0px;
    margin: 0px;
  }
}

/* DESKTOP VIEW */
@media all and (min-width: 1000px) {
  .title-outer {
    width: 86%;
    margin: auto;
    padding: 10px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .title-section {
    width: 100%;
  }

  .super-imp-title {
    width: 35%;
    height: 100px;
    color: rgb(75, 34, 7);
    font-size: 39px;
    font-weight: bold;
    text-align: left;
    overflow: hidden;
    float: left;
  }
  .left-chunk {
    width: 35%;
    padding: 0;
    margin-right: 0;
    overflow: hidden;
  }
  .right-chunk {
    width: 60%;
    margin-top: 0;
    margin-left: 5%;
    padding: 0;
    float: right;
  }

  img {
    width: 100%;
    margin: auto;
  }

  .line {
    background: grey;
    border-radius: 6px;
    font-size: 1.7px;
    opacity: 0.5;
    width: 35%;
    margin: 12px 0px;
  }

  .friendStuff {
    margin-top: 10px;
    margin-left: 10px;
  }
  .soc {
    margin-right: 40px;
    font-size: 20px;
    color: rgb(49, 79, 212);
    transition: color 1.2s;
  }
  .soc:hover {
    color: orange;
    cursor: pointer;
    transition: color 0.5s;
  }

  .divide {
    width: 50%;
    margin-bottom: 50px;
  }

  p {
    padding-top: 0px;
    line-height: 20px;
  }

  h1 {
    padding-top: 0px;
    font-size: 40px;
    font-weight: thin;
    font-family: "Raleway", sans-serif;
  }

  .par {
    font-size: 13px;
    padding: 0;
    line-height: 20px;
    font-family: "Quicksand", sans-serif;
  }
  h5 {
    font-family: "Quicksand", sans-serif;
  }
  .ital {
    font-style: italic;
    font-family: "Quicksand", sans-serif;
    font-size: 11px;
    padding: 0;
    line-height: 20px;
  }
}
