html {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}
/* MOBILE VIEW */
@media all and (max-width: 1000px) {
  #app {
    height: 100%;
    max-width: 700px;
    margin: auto;
  }
  .sidebar {
    display: none;
  }
  .menu {
    display: none;
  }
  .main {
    margin: 0;
    font-size: 13px;
    width: 100%;
    font-weight: normal;
  }

  .container {
    display: flex;

    padding-bottom: 26rem;
    margin: 0;
  }
  .current-section {
    padding-top: 0;
  }

  p {
    font-size: 16px;
    padding: 20px;
    padding-top: 3px;
    line-height: 32px;
    margin: 4px;
  }

  h1 {
    width: 92%;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding: 0% 0% 4% 4%;
    color: rgb(82, 35, 4);
  }

  .current-section {
    padding-top: 50px;
  }

  .current-section input {
    max-width: 3em;
  }

  .menu-item {
    margin-bottom: 20px;
  }

  .menu-item a {
    cursor: pointer;
    color: black;
    transition: color 1.5s;
  }

  .menu-item a:hover {
    color: orange;
    transition: color 0.5s;
  }

  .customActive {
    color: #178ce6;
    border-left: 1px solid #178ce6;
    padding-left: 5px;
    transition: all 0.5s;
  }
  .data-img {
    width: 100%;
  }

  .container {
    padding-bottom: 0rem;
  }
}

/* DESKTOP VIEW */
@media all and (min-width: 1000px) {
  #app {
    height: 100%;
    max-width: 1400px;
    margin: auto;
  }

  .main {
    margin-left: 10%;
    font-size: 25px;
    width: 66%;
    margin: auto;
  }

  .container {
    display: flex;
    padding-bottom: 14rem;
    margin: 0;
  }
  .current-section {
    padding-top: 0;
  }

  p {
    font-size: 18px;
    padding: 20px;
    padding-top: 3px;
    line-height: 32px;
    margin: 4px;
  }

  h1 {
    width: 92%;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 34px;
    padding: 0% 0% 4% 4%;
    color: rgb(82, 35, 4);
  }
  .current-section {
    padding-top: 50px;
  }

  .current-section input {
    max-width: 3em;
  }

  .sidebar {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 150px;
    height: 50%;
    width: 15%;
    min-width: 100px;
    margin-left: 40px;
    max-width: 230px;
    margin-right: 0;
    font-size: 14px;
    font-family: "Quicksand", sans-serif;
  }

  .menu {
    padding: 0;
    list-style: none;
    position: -webkit-sticky;
    position: sticky;
  }

  .menu-item {
    margin-bottom: 20px;
  }

  .menu-item a {
    cursor: pointer;
    color: black;
    transition: color 1.5s;
  }

  .menu-item a:hover {
    color: orange;
    transition: color 0.5s;
  }

  .customActive {
    color: #178ce6;
    border-left: 1px solid #178ce6;
    padding-left: 5px;
    transition: all 0.5s;
  }
  .data-img {
    height: 80%;
    width: 90%;
  }
}
